DATABASE_URL=postgres://postgres:password@localhost:5432/remitano_development
REDIS_URL=redis://localhost:6379/0
JWT_SECRET=change_me_in_production
RAILS_MASTER_KEY=
FRONTEND_URL=http://localhost:3001
